
language: node_js

node_js:
  - "node"

script: npm test

before_script:
    - npm install

# Send coverage data to Coveralls
after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"
