.no-margin{
  margin: 1;
}

.no-padding{
  padding: 0;
}

body{
  background: #056;
}

.navbar-inverse{
  background: #0e2438;
  border: #0e2438;
}

.innerResultDisplay{
  min-height: 500px;
  padding-top: 10px;
}

.createIndex{
  background: rgba(0, 0, 1, .5);
  color: #fff;
  height: 50px;
  padding: 10px;
  font-weight: bolder;
  border: 1px solid grey;
  border-radius: 3px;
}

.btn-createIndex {
  margin-top: -5px;
}

.builtIndex{
  max-height: 350px;
  overflow: auto;
  background: rgba(0, 0, 1, .5);
  color: #fff;
}

/*Footer style*/
.footerstyle{
  font-weight: bolder;
  color: #fff;
}
