.no-margin{
  margin: 1;
}

.no-padding{
  padding: 0;
}

body{
  background: #056;
}

.navbar-inverse{
  background: #0e2438;
  border: #0e2438;
}

.innerResultDisplay{
  min-height: 250px;
  padding-top: 10px;
}

/*Side bar menu*/
/* The side navigation menu */
.sidenav {
  height: 490px;
  width: 0; /* 0 width - change this with JavaScript */
  z-index: 1;
  background-color: #0e2438;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  padding-left: 0px;
  padding-right: 0px;
  margin-left: -120px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#builtIndex {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* */
.glyphicon-list{
  color: white;
  font-size: 3em;
  cursor: pointer;
  margin-right:18px;
}

/*Side bar menu ends*/
.createIndex{
  background: rgba(0, 0, 1, .5);
  color: #fff;
  height: 50px;
  padding: 10px;
  font-weight: bolder;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 10px;
  margin-top: 45px;
}

.btn-createIndex {
  margin-top: -3px;
}

.builtIndex{
  max-height: 490px;
  overflow: auto;
  background: rgba(0, 0, 1, .5);
  color: #fff;
}

/*Footer style*/
.footerstyle{
  font-weight: bolder;
  color: #fff;
}
